{% extends 'base.html' %}

{% block content %}
<h1>K-Means Clustering Results</h1>
<p>Centroids:</p>
{% comment %} <ul>
{% for centroid in centroids %}
    <li>{{ centroid }}</li>
{% endfor %}
</ul>
<p>Labels:</p>
<ul>
{% for label in labels %}
    <li>{{ label }}</li>
{% endfor %}
</ul>
<p>Data:</p>
<ul>
{% for point in data %}
    <li>{{ point }}</li>
{% endfor %}
</ul>
<h1>KMeans Clustering</h1>
<div class="row">
  <div class="col-md-6">
    <canvas id="kmeans-chart"></canvas>
  </div>
  <div class="col-md-6">
    <img src="data:image/png;base64,{{ graphic }}" alt="KMeans Plot">
  </div>
</div> {% endcomment %}
{% endblock %}
